[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"

[packages]
fastapi = "*"
pandas = "*"
plotly = "*"
uvicorn = {extras = ["standard"], version = "*"}
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
google-api-core = "*"
google-auth = "*"
google-cloud-vision = "*"
googleapis-common-protos = "*"
grpcio = "*"
idna = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pytz = "*"
requests = "*"
rsa = "*"
six = "*"
urllib3 = "*"
python-multipart = "*"
joblib = "*"
scikit-learn = "*"
scipy = "*"
nltk = "*"
sqlalchemy = "*"
tensorflow-cpu = "*"
python-dotenv = "*"
dill = "*"

[requires]
python_version = "3"